.wrapper{
	width: 60%;
	margin:0 auto;
	border:5px solid #ddd;

}
lebel{
	font-size: 25px;
	
}

.first_name, .last_name,.email,.password, .gender
	width: 90%;
	height: 25px;
	padding:20px;
	font-size: 18px;

.message{
	font-size: 18px;
	padding: 10px;

}	

.tebel{
	width: 60%;
	margin:0 auto;
	border:5px solid #ddd;
}
